@charset "UTF-8";
/*公用样式*/
*{padding:0px; margin:0px; }
body{font-size:12px;font-family:"微软雅黑";color:#333333; background:#FAFAFA;}
.wrap{width:100%;margin:0px auto;}
.wrap_a{width:1200px;margin:0px auto;}
.left{float:left;}
.right{float:right;}
a{text-decoration:none;}
ul{list-style:none;margin-bottom: 0px;}
.clearfix:after{content:"";display:block;height:0px;line-height:0px;clear:both; visibility:hidden;}
.clearfix {zoom:1;}
p{margin: 0px;}
.ygcon{padding: 0px;}
.container{
    padding-left: 0px;
    padding-right: 0px;
    width: 1200px;
}
.ads ul .ad_li_2 a:hover{
    color:#478cc9;
}
/*menu*/
.menu{width:100%;/*overflow:hidden; */position: relative;}
.menu_A{position:absolute;background:red; left:50%; margin-left:-600px; top:0px; text-align:center;}
.banner-menu{position:absolute;width:240px;height:500px;left:0px;z-index:10;background:rgba(0,0,0,.6);}
.banner-menu-left{width:100%;height:100%;margin:0px auto;z-index:5; position: relative;}
.banner-left-content{width:100%;padding-top: 10px;position: relative;}
.banner-left-content>span{display: inline-block;width: 53px;height: 1px;background: white;position: absolute;}
.banner-left-content>span:nth-child(1){top: 20px;left: 26px;}
.banner-left-content>.spantwo{top: 20px;right: 25px;}
.banner-left-content>p{height:20px;line-height:25px;color: white;margin-bottom: 5px;}
.banner-left-content>div{color:#ffffff;}
.banner-left-content>div>ul{width:200px; padding:5px 0px; margin:0px auto;}
.banner-left-content>.banner-left-contenta{background:#ffffff; color:#478cc9;}
.banner-left-content>div>ul>a{color: white;}
.banner-left-content>div>ul>a:hover{color: #478cc9;}
.banner-left-content>div>ul>li{width:33%; float:left;  font-size:12px; height:24px; line-height:24px; font-weight:normal;cursor:pointer;}
/*////////////////////////////*/
.banner-left-content>div>ul>li>a{
    color: #ffffff;
}
/*.banner-left-content>div>ul>li>a:hover{*/
    /*color: #478CC9;*/
/*}*/
.banner-bottomc>li:nth-child(1)>a{color: #478cc9;}
.banner-menu-right{width:800px; height:100%; background:#fff; position:absolute; right:-800px; top:0px;border: 1px solid #333333;padding-top: 15px;}
.banner-menu_a{width:470px; height:100%;}
.banner-menu_b{width:202px;margin-top: 15px;}
.fenge{width: 100%;height: 2px;background: red;}
.banner-menu_b:nth-child(even){margin-left:50px;}
.banner-menu_b:nth-child(odd){margin-left:10px;}
.banner-menu_b>p{margin-top: 15px;font-size:14px; color:#478cc9; font-weight:normal; text-align:left;position: relative;}
.banner-menu_b>p>span{display:inline-block; width:20px; height:20px; background:url("../images/txwb.png") no-repeat center;background-size: auto 100%; vertical-align:middle; margin-top:-3px; margin-right:5px; }
.banner-menu_b>ul{width:100%;margin-bottom: 0px;}
.banner-menu_b>ul>li{float:left;margin-top:7px;padding-left: 5px;padding-right: 10px;}
.banner-menu_b>ul>li>a{font-weight:normal; font-size:12px;}
.banner-menu_b>ul>li:nth-child(odd)>a{color:#666;}
.banner-menu_b>ul>li:nth-child(even)>a{color:#666;}
.banner-menu_c{width:200px; height:100%;  margin-left:60px; text-align:left;overflow: hidden;}
.banner-menu_c>ul>li{width:100%; height:130px; background-repeat:no-repeat/* url(../images/xiao.png)*/; margin-top:30px;}
.banner-menu_c>ul>li>h3{height:20px; line-height:20px; font-size:18px; color:#333;}
.banner-menu_c>ul>li>p{height:20px; line-height:20px; margin-top:10px; color:#666; font-weight:normal;}
.banner-menu_c>ul>li>div{width:38px; height:5px; background:#0396ff; margin-top:10px;}
.bannerimg{position:relative;width:100%;height:500px;margin:0 auto;}
.bannerimg>div{width:100%; height:100%; position:absolute; left:0px;top:0px;}
.carouse{position:absolute;bottom:10px;width: 200px; height:15px; left:50%;z-index:10;}
.carouse>li{width:15px; float:left; background:white; height:15px; border-radius:50%;margin:0px 10px;cursor:pointer;}
.carouse>li.active{background:#478cc9;}
.home_btn{
    display: inline-block;
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,0.5);
    width: 50px;
    height: 50px;
    top: 40%;
    font-size: 50px;
    text-align: center;
    line-height: 38px;
    text-decoration: none;
    z-index: 5;
    cursor: pointer;
}
.home_btn:hover{text-decoration: none;color: white;}
.prevj{left: 10%;}
.nextj{right:10%;}
/*hotarea*/
.hotarea{height:150px; margin:10px auto;}
.hotarea_list>li{float:left;}
.hotarea_listimg img{width:280px; height:150px;}
.hotarea_list>li:nth-child(2){background:url(../images/huang.png) no-repeat center; background-size: cover;}
.hotarea_list>li:nth-child(3){background:url(../images/zi.png) no-repeat center; border-left:none; border-right:none; background-size: cover;}
.hotarea_list>li:nth-child(4){background:url(../images/lan.png) no-repeat center; background-size: cover;}
.hotarea_lista{width:304px;height:148px;border:1px solid #eeeeee;}
.hotarea_lista>p:nth-child(1){font-size:20px;color:#333333;font-weight:bolder;text-indent:20px;margin-top:33px;}
.hotarea_lista>p:nth-child(2){font-size:24px;color:#ff5050;text-indent:20px;margin-top:22px;}

/*container_A*/
.conlist_box{width: 595px;height:325px;margin-right: 5px;float: left;position: relative;overflow: hidden;}
.container_A{height: 325px;}
.container_Alist{width:2380px;height:325px;position: absolute;left: 0px;top: 0px;}
.container_Alist>li{width:595px; height:330px; float:left; background:#ffffff;border-radius:6px; border:1px solid #eeeeee;overflow: hidden;}
.conlist_header{height:50px;}
.conlist_header>p{height:50px;line-height:50px; text-indent:10px; font-size:14px; color:#333; font-weight:bold;}
.conlist_header>p>span{margin-left:10px;font:normal 12px "AriaIMT";}
.conlist_header>a{display:block; height:50px; line-height:50px; width:50px;}
.conlist_con{height:280px; width:100%; background:url("../images/zhongxia.png") no-repeat;background-size: cover; position:relative;}
.conlist_tips{width:450px;  height:60px; position:absolute; bottom:40px; left:0px; background:rgba(0,0,0,.6);border-radius:5px; overflow:hidden;}
.conlist_tips_left{width:60px; height:60px; background:white;}
.conlist_tips_right>div{height:22px; line-height: 22px; text-indent:10px; color:#ffffff; font-size:14px; font-weight:bold;}
.conlist_tips_right>div:nth-child(1){margin-top:10px;}
.conlist_box>span{width:50px; height:50px; background:rgba(0,0,0,0.5); position:absolute; display:inline-block; top:50%; margin-top:-25px; border-radius:50%; cursor:pointer;z-index: 10;}
.conlist_box>.prev{left:10px; background:rgba(0,0,0,0.5) url(../images/baizuo.png) no-repeat center;}
.conlist_box>.next{right:10px; background:rgba(0,0,0,0.5) url(../images/baiyou.png) no-repeat center;}
.conlist_box>.prevm{left:10px; background:rgba(0,0,0,0.5) url(../images/baizuo.png) no-repeat center;}
.conlist_box>.nextm{right:10px; background:rgba(0,0,0,0.5) url(../images/baiyou.png) no-repeat center;}
.conlist_con1{
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.conlist_con1:hover{
    -webkit-box-shadow: 0px 0px 15px #88ccfc;
    -o-box-shadow: 0px 0px 15px #88ccfc;
    -ms-box-shadow: 0px 0px 15px #88ccfc;
    -moz-box-shadow: 0px 0px 15px #88ccfc;
    box-shadow: 0px 0px 15px #88ccfc;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.conlist_con2{
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.conlist_con2:hover{
    -webkit-box-shadow: 0px 0px 15px #88ccfc;
    -o-box-shadow: 0px 0px 15px #88ccfc;
    -ms-box-shadow: 0px 0px 15px #88ccfc;
    -moz-box-shadow: 0px 0px 15px #88ccfc;
    box-shadow: 0px 0px 15px #88ccfc;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
/*container_B*/
.container_B{margin-top:10px; height:206px;}
.container_Bleft{width:177px;height:100%; margin-right:8px;}
.container_Bright{height:100%;width:1010px;border:1px solid #eeeeee;}
.container_Bright>li{float:left;border-right:1px solid #eeeeee;border-bottom:1px solid #eeeeee;width:168px; height:102px; }
.container_Bright>li>a{font-weight: bold;font-size: 14px;color: #333;}
.morepro{ }
.morepro>p{position:relative; height:20px; line-height:20px;  text-indent:10px; margin-top:-60px; margin-left: 20px}
.morepro>p>a{color:#999999;margin-top: -10px;float: left}
.morepro>p>span{position:absolute; display:inline-block; width:15px;height:15px; background:url(../images/gengduo.png) no-repeat center;top:3px;left:96px;}

/*container_C*/
.container_C{height:396px; margin-top:10px; border-radius:5px;}
.container_Cheader{width:100%;height:220px; }
.container_Cheader>li,.container_Cbottom>li{transition:all 0.4s;width:230px; height:100%; float:left; margin:0px 5px; border-radius:6px; overflow:hidden;}
.container_Cheader_top{width:100%; height:50px; background:#478cc9 url(../images/gongsi.png) no-repeat 65px center;}
.container_Cheader_top>p{color:#ffffff; font-size:16px; font-weight:bolder; height:50px; line-height:50px; text-indent:94px;}
.container_Cheader_con{background:#ffffff;width:100%;height:170px; padding-top:1px;text-align:center;cursor: pointer;}
.container_Cheader_con>a{
    width: 100%;
    height: 100%;
}
.container_Cheader_con>a>h5 a{font-size:14px;color:#333333; font-weight:bold;}
.container_Cheader_con>a>h5,.container_Cheader_con>p{width:100%;text-align:center; margin-top:5px;}
.container_Cheader_con>a>p a{color:#999;}
.container_Cheader_con>a>img{margin-top:30px;}
.container_Cbottom{width:100%;margin-top:10px; height:170px;}
.Advertisement{margin-top:10px;}
.Advertisement img{width:1200px;}
/*container_D*/
/*.container_D{background:black;}
*/
.container_Dtop_left{font-size:16px; color:#333333; font-weight:bold; height:40px; line-height:40px;}
.container_Dtop_left span{display:inline-block; width:4px; height:20px; border-radius:2px; background:#478cc9; vertical-align:middle; margin-right:10px; margin-top:-5px;}
.container_Dtop_right{height:40px; line-height:40px; text-indent:20px;}
.container_Dtop_right a{color:#999;}
.container_Dtop_right span{display:inline-block; width:20px; height:20px;background:url(../images/gengduo.png) no-repeat center;vertical-align:middle;margin-top:-3px; margin-left:10px;}
.container_Dconlist{width:100%;height: 342px;}
.container_Dconlist>li{
    float:left;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
}
a:hover{text-decoration: none;}
.kszc>a{width: 100%;height: 342px;display: inline-block;}
.kszc_input{width: 160px;height: 32px;background-color: white;margin-top: 221px;margin-left: 25px;border-radius: 50px;}
.kszc_input input{width: 130px;height: 32px;background-color: white;border: none;outline: none;border-radius: 50px;padding-left: 15px;font-size: 14px;}
.kszc_input span{font-size: 16px;color: #478cc9;}
.kszc{height:342px;width:210px;/*background: url("../images/qiangxianzhuce.png") no-repeat center;*/background-size: cover;}
.container_Dconlistb{width:317px;height:342px; /*background:url(../images/da.png) no-repeat center;*/text-indent:20px;
border:1px solid #eeeeee; background-size:cover;}
.container_Dconlistb>h3{height:30px;line-height:30px; font-weight:bold; font-size:24px; margin-top:30px;}
.container_Dconlistb>p:nth-child(2){font-size:14px; color:#999; margin-top:10px;}
.container_Dconlistb>p:nth-child(3){font-size:24px;font-weight:bold; color:#ff5050;margin-top:28px;}
.container_Dconlistc{width:660px; height:342px;}
.container_Dconlistcl{width: 660px;height: 342px;}
.container_Dconlistcl>li{float:left; width:218px; height:168px;border:1px solid #eeeeee; background-size:cover;}
.container_Dconlistcl>li:nth-child(2),.container_Dconlistcl>li:nth-child(1){margin-right:3px;}
.container_Dconlistcl>li:nth-child(4),.container_Dconlistcl>li:nth-child(5){margin-right:3px;margin-top: 4px;}
.container_Dconlistcl>li:nth-child(6){margin-top: 4px;}
.container_Dconlistcla>h3{height:20px;line-height:20px; font-weight:bold; font-size:14px; margin-top:20px; color:#333;}
.container_Dconlistcla>p:nth-child(2){font-size:12px; color:#999; margin-top:10px;}
.container_Dconlistcla>p:nth-child(3){font-size:14px;font-weight:bold; color:#ff5050;margin-top:16px;}
.container_Dconlistd{width:198px;height:342px;}
.container_Dconlistd img{width:201px;height:170px;}
.Advertisementb{height:100px; margin-top:10px; /*background:url(../images/dbggt.png) no-repeat no-repeat center;*/ border-radius:6px;}
.Advertisementb>a{display:inline-block; width:100%; height:100%;}
.hoveryg:hover{
    -webkit-box-shadow: 0px 0px 15px #88ccfc;
    -o-box-shadow: 0px 0px 15px #88ccfc;
    -ms-box-shadow: 0px 0px 15px #88ccfc;
    -moz-box-shadow: 0px 0px 15px #88ccfc;
    box-shadow: 0px 0px 15px #88ccfc;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
}
.carousel{height: 500px;}
.item,.carousel-inner{height: 500px;}
.carousel-inner>.item>img{width: 100%;height: 500px;}
.container_E{padding:10px 0px;margin-top:10px; border-radius:6px; border:1px solid #eeeeee; position:relative;height:377px;}
.container_Ehead{height:35px; line-height:26px; width:100%;font-weight: bold;}
.tabbtn>li{float:left; cursor:pointer;/* width:80px;*/ height:100%; text-align:center; margin-left:20px; font-size:18px; color:#999;padding-bottom: 5px;}
.tabbtn>li:nth-child(1){border-bottom: 1px solid #8c8c8c;}
.tabbtn>li.active{border-bottom:4px solid #478cc9;color:#478cc9;}
.container_Emore span{display:inline-block; width:10px; height:20px; background:url(../images/gengduo.png) no-repeat center; vertical-align:middle; margin-top:-3px; margin-right:10px;}
.container_Emore a{color:#999;}
.container_Econ{position:absolute;}
.container_EconA{width:1180px; border-top:1px solid #eeeeee; height:357px; margin-left:10px; padding-top:10px;padding-bottom:10px;}
.container_EconB{display:none;width:1180px; border-top:1px solid #eeeeee; height:304px;}
.container_Econ_left{width:450px; height:294px; /*background:red url(../images/zhongxia.png) no-repeat center;*/background-size: cover; border-radius:6px; position:relative; overflow:hidden;}
.container_Econ_left>a>div{position:absolute; height:50px; width:100%; background:rgba(0,0,0,.6); left:0px; bottom:0px; line-height:50px; text-align:center; }
.container_Econ_left>a{color:#fff; font-size:14px; font-weight:bold;}
.container_Econ_right>li{width:210px; height:304px;  float:left; margin-left:22px;}
.container_Econ_rightimg{width:220px; height:110px; border-radius:5px; background:blue;}
.container_Econ_right div{margin:10px 0px; position:relative;font-size: 14px;color: #333333;width: 210px;height: 110px;background-size: cover;}
.container_Econ_right .xiandiv{width:80px; height:0px; border-bottom:1px solid #0396ff;}
.container_Econ_right>li>p{margin-top:20px;}
.container_Econ_right>li>p a{color:#999;}
.container_Econtips{width:100%; height:20px; margin-top:34px;}
.container_Econtips>div{width:50%; height:100%; color:#999;}
.container_Econdate>span,.container_Econread>span{display:inline-block; width:20px; height:20px;  color:#999; font-family:"AriaIMT"; line-height:20px; vertical-align:top; margin-top:-1px; margin-right:5px;}
.container_Econdate>span{background:url(../images/syshijian.png) no-repeat center; }
.container_Econread>span{margin-left:10px; background: url(../images/syliulan.png) no-repeat center;}

/*.fixedleft*/
.fixedleft{position:fixed;width:50px;}
.fixedleft>ul>li{width:50px; height:60px; background:#969696; border-radius:4px; text-align:center; margin-top:2px;line-height:28px; font-size:14px; font-weight:bold; color:#ffffff; cursor:pointer;}
.fixedleft>ul>li.active{background:#478cc9;}
.fixedleft>ul>.goback{background:#323232 url(../images/shang.png) no-repeat center 10px ;}


/*rightfix*/
.rightfix{width:36px; position:fixed; right:0px; top:90px;z-index: 10;}
.rightfix>li{height:36px; border-radius:4px; margin-top:2px;cursor:pointer;background:#969696;text-align: center;}
.pangimg{width: 20px;height: 20px;margin: 8px auto;}

.rightfix>li:nth-child(1){position: relative;transition: all 0.5s;}
.rightfix>li:nth-child(1):hover{background-color: #478cc9;border-radius: 0px;}
.rightfix>li:nth-child(1):hover .vipzhong_wai{opacity: 1;left: 0px;}
.rightfix>li:nth-child(1):hover .vipzhong_jiao{opacity: 1;left: -5px;}
.rightfix>li:nth-child(1):hover .vipzhong{width: 320px;overflow: hidden;left: -320px;}
.rightfix>li:nth-child(2):hover{background-color: #478cc9;}
.rightfix>li:nth-child(3):hover{background-color: #478cc9;}
.rightfix>li:nth-child(4):hover{background-color: #478cc9;}
.rightfix>li:nth-child(5):hover{background-color: #478cc9;}
.rightfix>li:nth-child(6):hover{background-color: #478cc9;}
.vipzhong_wai{width: 320px;height: 360px;position: absolute;left: 320px;top: 0px;background-color: white;}
/*.vipzhong_wai{width: 320px;height: 360px;position: absolute;left: 0px;top: 0px;background-color: white;}*/
/*.vipzhong{width: 320px;height: 360px;position: absolute;left: -320px;top: 0px;overflow: hidden;*/
.vipzhong{width: 0px;height: 160px;position: absolute;left: 0px;top: 0px;overflow: hidden;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 15px #D0D0D0;
    -o-box-shadow: 0px 0px 15px #D0D0D0;
    -ms-box-shadow: 0px 0px 15px #D0D0D0;
    -moz-box-shadow: 0px 0px 15px #D0D0D0;
    box-shadow: 0px 0px 15px #D0D0D0;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    opacity: 1;
    z-index: 8;}
.vipzhong_header{width: 320px;height: 150px;padding: 15px;}
.vipzhong_img{width: 75px;height: 75px;border-radius: 50%;background-color: orange;margin-left: 105px;}
.vip_text{float: left;margin-left: 10px;font-size: 12px;color: #666666;}
.vipzhong_login{margin-top: 15px;width: 290px;height: 33px;padding: 0px 20px;}
.vipzhong_logina{width: 90px;height: 33px;}
.vipzhong_loginbtn{border-radius:4px;width: 90px;height: 33px;background-color: #478cc9;color: white;margin: 0px 16px;border: none;}
.vipzhong_bottom{
    width: 320px;
    height: 33px;
    border: 1px solid #C5C5C5;
    position: relative;
}
.vipzhong_bottomli{
    width:106px;
    height: 33px;
    background-color: #EEEEEE;
    float: left;
    font-size: 14px;
    color: #333333;
    border-right: 1px solid #C5C5C5;
    text-align: center;
    line-height: 33px;
}
.vipzhong_bottom_text{
    position: absolute;
    width: 320px;
    height: 160px;
    margin-top: 15px;
    display: none;
    left: 0px;
}
.vipzhong_bottom_text>li{
    padding: 0px 10px;
    line-height: 30px;
    font-size: 12px;
    color: #333333;
    width: 320px;
    height: 35px;
}
.vipblock1{
    display: block;
}
.vipzhong_bottom_text>li>div:nth-child(1){
    width: 8px;
    height: 8px;
    background-color: #478cc9;
    border-radius: 50%;
    float: left;
    margin-top: 13px;
}
.vipzhong_bottom_text>li>div:nth-child(2){float: left;margin-left: 10px;}
.vipzhong_jiao{
    position:absolute;
    content:"";
    border-width:5px;
    border-style:solid;
    border-color:transparent transparent white white;
    transform:rotate(-135deg);
    left:-5px;
    top:13px;
    opacity: 0;
}
/*backTop*/
.backTop{width:36px; height:36px; position:fixed; bottom:96px; right:0px; background:rgb(150,150,150); text-align:center; color:#fff; font-size:10px; font-weight:bold; border-radius:4px; cursor:pointer;}
.backTop>span{display:inline-block;height:42%; width:100%; background:url(../images/shang.png) no-repeat center;}

