*{margin:0px;padding:0px;}
ul,li{list-style: none;}
body{font-family: "微软雅黑";}
.left{float: left;}
.right{float: right;}
.container{
    padding-left: 0px;
    padding-right: 0px;
    width: 1200px;
}
.mation{
    background-color: #FAFAFA;
    padding-bottom: 30px;
}
.home_banner_about{
    height: 45px;
    line-height: 45px;
    color: #666;
    font-size: 14px;
}
.home_banner_dao{
    background-color: white;
    border: 1px solid #EEEEEE;
    font-size: 12px;
    border-radius: 4px;
}
.home_section{
    font-size: 14px;
    width: 76%;
    margin-left: 10px;
    float: left;
}
.safe_mar{margin-bottom: 5px;}
a{color: #478cc9;}
a:hover{color: #478cc9;text-decoration: none;}
.safe{color: #478cc9;}

.emailbox{
    display: inline-block;

}
.changeemail{
    display: inline-block;
    color: #478cc9;
    cursor: pointer;
}
#sec{
/*text-align: left;*/
    height: 200px;
    visibility: hidden;
}
#sec>div{
margin-top: 9px;
}
#sec>input{
width: 150px;
margin-top: 5px;
padding: 0;
}
#sec>span{
margin-top: 5px;
    color: red;
    font-size: 18px;
}
#sec>input:nth-of-type(4){
    width: 65px;
    margin-top: 5px;
}