*{margin:0px;padding:0px;}
ul,li{list-style: none;}
body{font-family: "微软雅黑";}
.left{float: left;}
.right{float: right;}
.container{
    padding-left: 0px;
    padding-right: 0px;
    width: 1200px;
}
.mation{
    background-color: #FAFAFA;
    padding-bottom: 30px;
}
.register_header{
    color: #999;
    font-size:14px;
    height: 45px;
    line-height: 45px;
}
.mation_banner{
    width: 100%;
    height: auto;
    border: 1px solid #DCDCDC;
    border-radius: 6px;
}
.mation_header{
    width: 100%;
    height: 50px;
    background-color: #EEEEEE;
    border-bottom: 1px solid #DCDCDC;
}
.mation_header{

}










